/* HEADER */
header {
  background-color: #FF3D3D;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.header-logo img {
  max-height: 60px;
}
.header-form {
  flex-grow: 1;
  margin: 0 20px;
}
.header-form form {
  display: flex;
  justify-content: center;
}
.header-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.header-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-social ul li {
  margin: 0 10px;
}



@media (max-width: 768px) {
  .header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  } 
  .header-form{
    display: none;
  }
  .header-social{
    display: none;
  }
  .header-logo{
    display: flex;
    justify-content: center;
  } 
  
  
}


























/**/
/* 
.header-logo,
.header-form,
.header-social {
  width: 33%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  justify-content: flex-start;
}

.header-logo-img,
.header-li,
.header-a,
.header-social-img {
  height: 50px;
}
 
.header-social {
  justify-content: flex-end;
  list-style-type: none;
}

.header-li,
.header-a,
.header-social-img {
  width: 50px;
}

.header-social-img {
  padding: 10px;
} */