.nav-a {
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none; 
    width: 150px;
    padding: 5px 0;
    font-size: 14px;
}

.nav-a:hover {
    text-decoration: underline;
}

li {
    padding: 10px 20px;
}

@media (max-width: 768px) {
    li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}