/*----------------------------------------------------------------------------------------------*/
/* .product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    transition: transform 0.3s ease;   
} */

/* en css onsalecard*/
/* .offer-container .product-card {
    flex: 0 0 auto;
    width: calc(33.333% - 20px);  
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
} */

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    width: 100%;
    height: 250px;
}

.product-info {
    padding: 10px;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
}

.product-description {
    color: gray;
    margin-bottom: 10px;
}

.product-price-block {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.price {
    color: #ff5722;
    font-size: 1.2em;
}

.discount {
    color: green;
}

.product-tax-policy {
    font-size: 0.8em;
    color: gray;
}

/* Responsivo */
/* @media (max-width: 768px) {
    article {
        width: calc(50% - 20px);  
    }
}

@media (max-width: 480px) {
    article {
        width: calc(100% - 20px);  
    }

    .pagination {
        flex-direction: column;
    }

    .pagination .page-number {
        width: 100%;
        margin-bottom: 10px;
    }

    .pagination .page-number:last-child {
        margin-bottom: 0;
    }
} */
/*------------------------------------------------------------------------------------------------------------*/
/* .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
 

.product-img {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */

/* .card-content {
    padding: 15px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.card .old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin: 5px 0;
}

.card .new-price {
    font-size: 20px;
    color: #e74c3c;
    margin: 5px 0;
}

.card .discount {
    color: #27ae60;
    font-size: 14px;
}

.card .promo {
    font-size: 14px;
    color: #2c3e50;
    margin: 10px 0 0;
} */